<html>
<head>
	<title>NODE: Foursquare</title>
</head>
<body>
	<div id="map-canvas" style="width: 100%; height: 30%"></div>
	<form method="GET" action="/">
		<input name="query" placeholder="search"></input>
		<input type="submit"></input>
	</form>
	<div>
		<ul>
		<% for(var i = 0; i < result_list.length; i++) { %>
			<li><%= result_list[i].name %>
				<ul>	
					<li><%= result_list[i].location.address %>
							<%= result_list[i].location.city %>
							<%= result_list[i].location.state %>
							<%= result_list[i].location.postalCode %>
					</li>
					<li><%= result_list[i].contact.phone %></li>
					<li>TOTAL CHECK INS:<%= result_list[i].stats.checkinsCount %></li>
					<li>HERE NOW: <%= result_list[i].checkins.count %></li>
					<li><%= result_list[i].open %></li>
					<li><a href=<%= result_list[i].url %>>Tips</a></li>
				</ul>
			</li> 
		<% } %>
		</ul>
	</div>
	<script>
		function initialize() {
  			var mapOptions = {
    		zoom: 13,
    		center: new google.maps.LatLng(40.72078, -74.001119)
  			};

  		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  		}

		function loadScript() {
		  	var script = document.createElement('script');
		  	script.type = 'text/javascript';
		  	script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' + 'callback=initialize';
		  	document.body.appendChild(script);
		}

		window.onload = loadScript;
	</script>
</body>
</html>
